*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.line-down{
    border-bottom: 1px solid #32aad6;
    width: 100%;
    height: 40px;
    background-color:  #154054;
}

/* ------------------------navbar-1----------------------------- */
.navbar-1{
    width: 80%;
    margin: 0 auto;
    font-size: 12px;
}
.navbar-1 span{
    line-height: 40px;
    color: rgb(185, 185, 185);
}
.navbar-1 ul{
    display: inline;
    list-style: none;
}
.navbar-1 li{
    display: inline-block;
}
.navbar-1 li a{
    color: rgb(185, 185, 185);
    margin-left: 10px;
    padding-left: 10px ;
    border-left: 1px solid  rgb(185, 185, 185);
    text-decoration: none;
}
.navbar-1 li a:hover{
    color: #32aad6;
}
.search{
    float: right;
    line-height: 36px;
}
.search input{
    background-color: rgb(247, 247, 247);
    border: 1px solid #32aad6;
    outline: none;
    width: 250px;
    color: #000;
    height: 25px;
    border-radius: 15px;
    padding-left: 10px;
}
.search i{
    cursor: pointer;
    font-size: 14px;
    color: #32aad6;
    margin-left: -30px;
}

@media (max-width: 930px){
    .navbar-1{
        width: 90%;
    }
    .navbar-1 li a{
        line-height: 40px;
    }
    .navbar-1 #n-border{
        border-left: none;
        padding-left: 0px;
        margin-left: 0px;
    }
    .navbar-1 span{
        display: none;
    }
}
@media (max-width: 460px){
    .search input{
        width: 150px;
    }
}
@media (max-width: 300px){
    .search input{
        display: none;
    }
}

/* -----------------------navbar-2------------------------- */
.line-up{
    height: 70px;
    background-color: #154054;
}
.navbar-2{
    width: 80%;
    margin: 0 auto;
    padding-bottom: -10px;
}
.navbar-2 .navbar-brand {
    color: rgb(233, 233, 233);
}
.navbar-2 .navbar-brand h2{
    font-size: 40px;
    line-height: 70px;
    font-family: cursive;
    float: left;
    margin-bottom: 0px;
    margin-top: -8px;
}
.navbar-2 .navbar-brand small{
    font-size: 28px;
    font-family: cursive;
}
.navbar-2 ul{
    margin-bottom: 0px;
    list-style: none;
    float: right;
    line-height: 70px;
}
.navbar-2 ul li{
    display: inline-block;
    margin-left: 35px;
}
.navbar-2 li a{
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}
.navbar-2 li i{
    padding-right: 10px;
}
.navbar-2 #active, li a:hover{
    color: #32aad6;
    transition: 0.2s;
}
.checkbtn{
    margin-bottom: 0px;
    font-size: 30px;
    color: #fff;
    float: right;
    line-height: 70px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
@media (max-width: 930px){
    .navbar-2{
        width: 90%;
    }
    .navbar-2 .navbar-brand h2{
        font-size: 35px;
    }
    .navbar-2 li a{
        font-size: 15px;
    }
}
@media (max-width: 858px){
    .checkbtn{
        display: block;
    }
    .navbar-2 ul{
        position: fixed;
        width: 100%;
        height: auto;
        background-color: #69696b;
        top: 110px;
        right: -100%;
        text-align: center;
        transition: all 0.8s;
        z-index: 2;
    }
    .navbar-2 ul li{
        display: block;
        margin: 0px;
    }
    .navbar-2 ul li a{
        font-size: 18px;
    }
    #check:checked ~ ul{
        right: 0;
    }
}
/* ----------------------------------- Đi tìm giấc mơ màu tím ---------------------------------------- */
.news{
    margin-top: 150px;
}
.col-xl-9 .title-three{
    font-size: 20px;
	font-weight: bold;
}
.col-xl-9 img{
    width: 70%;
    height: auto;
	margin-bottom: 20px;
}

.col-xl-9 .info{
	height: 175px;
	margin-bottom: 20px;
}
	
.col-xl-3 h4{
    font-size: 16px;
    font-weight: 700; 
    color: #222222;
	margin-bottom: 15px;
}
.col-xl-3 ul{
    list-style: none;
}
.col-xl-3 ul li a{
    font-size: 14px;
    color: #575454;
    text-decoration: none;
}
.col-xl-3 ul li a:hover{
    color: #32aad6;;
}
.col-xl-3 ul li img{
    float: left;
    width: 70px;
    height: 55px;
	margin-right: 20px;
	
}
.col-xl-3 .hot-news{
	height: 50px;
	font-size:13px;
	margin-bottom: 10px;
}



/* ------------------------- title-7 ----------------------------- */
.bg-email{
	margin: 60px 0px;
    background: url(../image/bg-email.jpg);
    background: cover;
    height: 352px;
}
.title-7{
    padding-top: 60px;
    text-align: center;
    margin-bottom: 40px;
}
.title-7 h2 a{
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
}
.title-7 p{
    color: #fff;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 14px;
}
.title-7 hr{
    width: 600px;
    border: 0.5px solid rgba(214, 214, 214, 0.452);
}
@media (max-width: 767px){
    .title-7 hr{
        width: 400px
    }
    .title-7 h2 a{
        font-size: 26px;
    }
}
@media (max-width: 450px){
    .title-7 hr{
        width: 100px;
    }
    .title-7 h2 a{
        font-size: 20px;
    }
    .title-7 p{
        font-size: 13px;
    }
}

/* email */
.input-email{
    margin-top: 45px;
    width: 100%;
    height: auto;
}
.input-email .email{
    width: 40%;
    height: 40px;
    padding: 0px 20px;
    border: none;
    outline: none;
}
.input-email .bt{
    height: 40px;
    background: #32aad6;
    color: #fff;
    border: none;
    padding: 0 10px;
    margin-left: -5px;
    margin-top: 2px;
}

/* -------------------------------- footer ------------------------------------ */
.col-md-3 h3, .col-md-2 h3{
    color: #32aad6;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}
.col-md-3 p, .col-md-2 p{
    font-size: 14px;
    color: #575454;
}
.col-md-3 a{
    color: #575454;
}
.col-md-3 ul{
    list-style: none;
}
.col-md-3 ul li{
    display: inline-block;
}
.col-md-3 img{
    margin: 5px 0px 10px 5px;
}
.col-md-2 ul{
    list-style: none;
}
.col-md-2 ul li{
    margin-bottom: 1px;
}
.col-md-2 ul li a{
    text-decoration: none;
    color: #575454;
    font-size: 14px;
}
.col-md-2 ul li a:hover{
    color: #32aad6;
    transition: 0.2s;
}

/* ------- footer-bottom -------- */
.footer-bot{
    margin-top: 20px;
    background-color: #2c3e50;
    height: 40px;
}
.footer-bot p {
    margin: 0px;
    text-align: center;
    line-height: 40px;
    font-size: 13px;
    color: #575454;
}